.about {
  padding: 150px 64px;

  @include bp {
    padding: 88px 24px;
  }

  &__content {
    width: 50%;
    max-width: 620px;

    @include bp {
      width: 100%;
    }
  }

  h2 {
    @extend .s-eyebrow;
  }
}
