.hero {
    background-image: linear-gradient(180deg, #0d72c5 0%, #8e44ad 100%);
    padding-top: 10rem;
}

.hero__content {
    display: flex;
    justify-content: space-between;
}

.hero__content__left,
.hero__content__right {
    width: 50%;
}

.hero__content__left {
    h1 {
        color: #fff;
    }
}