/* Custom scrollbar */
body {
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--orange);
    border-radius: var(--radius);
  }

  &::-webkit-scrollbar-track {
    background: var(--paper-2);
  }
}