/* Lato Black Font */
@font-face {
  font-family: $lato-black;
  src: url("../fonts/Lato-Black.ttf") format("truetype");
  font-display: swap;
}

/* Lato Black  Italic Font */
@font-face {
  font-family: $lato-black-italic;
  src: url("../fonts/Lato-BlackItalic.ttf") format("truetype");
  font-display: swap;
}

/* Open Sans Regular Font */
@font-face {
  font-family: $open-sans-regular;
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-display: swap;
}

/* Open Sans Medium Font */
@font-face {
  font-family: $open-sans-medium;
  src: url("../fonts/OpenSans-Medium.ttf") format("truetype");
  font-display: swap;
}

/* Open Sans Medium Italic Font */
@font-face {
  font-family: $open-sans-medium-italic;
  src: url("../fonts/OpenSans-MediumItalic.ttf") format("truetype");
  font-display: swap;
}
