// Fonts
$lato-black: "Lato Black", sans-serif;
$lato-black-italic: "Lato Black Italic", sans-serif;
$open-sans-regular: "Open Sans Regular", sans-serif;
$open-sans-medium: "Open Sans Medium", sans-serif;
$open-sans-medium-italic: "Open Sans Medium Italic", sans-serif;

// Breakpoints
$tablet: 800px;
$mobile: 767px;
